html{
    height: 100%;
    width: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin-left: 10px;
}

nav{
    display: flex;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 1px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: auto;
}

h2{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

#pizza{
    width: 960px;
}

article{
    width: 960px;
    text-align: inherit;
    text-indent: initial;
    color: gray;
}

#ingredients{
    list-style: square;
    background-image: url("./lab-assets/list-bg.png");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 125px;
    width: 850px;
    justify-content: center;
    color: gray;
}

#ingredients li{
    margin-left: 30px;
}

footer{
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#van-pic{
    margin: 20px;
}

address{
    display: flex;
    justify-content: center;
    align-items: center;
}

#author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: grey;
}

h4{
    color: darkslategray;
    margin-bottom: 10px;
}

button{
    height: 50px;
    width: 200px;
    margin: 10px;
    font-size: 20px;
    background-color: tomato;
    color: lightgrey;
}

.hr{
    background-image: url('./lab-assets/hr-img.png');
    height: 15px;
}